:root {
  /* Super Mario World Inspired */
  --titlefont: 'Oswald', sans-serif;
  --subheaderfont: sans-serif;
  --sidepanel-background: #12b4cf;
  --itemtitlefont: arial;
  --itemunitretailfont: sans-serif;
  --retailfont: arial;
  --ourpricefont: Oswald;
  --ourpricecolor: #004551;
}


.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 3fr 3fr;
  grid-template-areas: ". . . ." ". . . .";

}

.Virtual-Curbside-Donation {
  display: grid;
  grid-area: 1 / 1 / 1 / 6;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  text-align: center;
  font-family: var(--titlefont);
  font-size: 45px;
  line-height: 1;
  font-weight: 500;

}

.Description {
  display: grid;
  grid-area: 2 / 1 / 2 / 6;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  text-align: center;
  font-family: var(--subheaderfont);
  margin-bottom: 20px;
}

.Receipt {
  display: grid;
  grid-area: 1 / 6 / 4 / 7;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  background-color: var(--sidepanel-background);

}

.topimage {
  position: relative;
  padding-top: 10px;
  top: 10px;
  width: 100%;
  height: 10px;
}

.singleline {
  position: relative;
  top: 10px;
  width: 100%;
  height: 10px;
}

.bottomline {
  position: relative;
  width: 100%;
  height: 80px;
}

.Donate {
  grid-area: 4 / 6 / 5 / 7;
  background-color: var(--sidepanel-background);
  text-align: center;
}

.Items-List {
  display: grid;
  grid-area: 3 / 1 / 5 / 6;
  grid-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-rows: 1fr 1fr;

  grid-template-areas: "Item1 Item1 Item1 Item1 Item1" "Item1 Item1 Item1 Item1 Item1";
  font-family: sans-serif;
  text-align: center;
}

.Item-Name {
  font-weight: bold;
  font-size: 20px;
  font-family: var(--itemtitlefont);
}

.Item-Img {
  background-color: white;
  height: 140px;
  width: 140px;
  object-fit: scale-down;
  /*vertical-align: bottom;*/
}

.Item-Units {
  font-style: italic;
  font-family: var(--itemunitretailfont);
  font-size: 10px;
  margin-bottom: 12px;
}

.Item-Retail {
  font-style: italic;
  font-family: var(--itemunitretailfont);
  font-size: 10px;
  margin-bottom: 5px;
}

.Our-Price {
  font-weight: 600;
  font-family: var(--ourpricefont);
  color: var(--ourpricecolor);
  font-size: 24px;
  margin-bottom: -3px;
}

.Item {
  align-items: end;
  margin-bottom: 10px;

}

strong {
  display:inline !important;
}
