:root {
  /* Super Mario World Inspired */
  --titlefont: 'Oswald', sans-serif;
  --subheaderfont: sans-serif;
  --teamheaderfont: sans-serif;
  --sidepanel-background: #12b4cf;
  --itemtitlefont: arial;
  --itemunitretailfont: sans-serif;
  --retailfont: arial;
  --ourpricefont: Oswald;
  --ourpricecolor: #004551;
}


.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.25fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 2fr;
  grid-template-areas: ". . . ." ". . . .";

}

.Virtual-Curbside-Donation {
  display: grid;
  grid-area: 1 / 1 / 1 / 6;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  text-align: center;
  font-family: var(--titlefont);
  font-size: 50px;
  line-height: 1;
  font-weight: 500;

}

.Description {
  display: grid;
  grid-area: 2 / 1 / 2 / 6;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  text-align: center;
  font-family: var(--subheaderfont);
  /*margin-top: 10px;*/
}

.teamHeader {
  text-align: center;
  font-family: var(--teamheaderfont);
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}
.Receipt {
  display: grid;
  width: 285px;
  height: 550px;
  grid-area: 1 / 6 / 4 / 7;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  background-color: var(--sidepanel-background);

}

.topimage {
    background-image: url("../img/2_Top_Virtual_Curbside_Receipt.png");
    background-size: 100% 100%;
    position: relative;
    width: 285px;
    height: 100px;

}
.emptyline{
    background-image: url("../img/3_SingleLine_Virtual_Curbside_Receipt.png");
    background-size: 100% 100%;
    position: relative;
    width: 285px;
}

.singleline {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 7% 15% 30% 5%;
    background-image: url("../img/3_SingleLine_Virtual_Curbside_Receipt.png");
    background-size: 100% 100%;
    position: relative;
    width: 285px;
}
.singleline > div {
    margin-left: 65px;
    width: 200px;
}


.bottomline {
    background-image: url("../img/4_BottomLine_Virtual_Curbside_Receipt2.png");
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 200px;
    vertial-align: bottom;
}

.Donate {
  grid-area: 4 / 6 / 5 / 7;
  background-color: var(--sidepanel-background);
  text-align: center;
  height: 80%;
  width: 285px;
}

.Items-List {
  display: grid;
  grid-area: 3 / 1 / 5 / 6;
  grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-rows: 1fr 1fr;

  grid-template-areas: "Item Item Item Item Item" "Item Item Item Item Item";
  font-family: sans-serif;
  text-align: center;
}

.Item-Name {
  font-weight: bold;
  font-size: 20px;
  font-family: var(--itemtitlefont);
}

.Item-Img {
  background-color: white;
  height: 110px;
  max-width: 130px;
}


.Item-Units {
  font-style: italic;
  font-family: var(--itemunitretailfont);
  font-size: 10px;
  margin-bottom: 12px;

}

.Item-Retail {
  font-style: italic;
  font-family: var(--itemunitretailfont);
  font-size: 10px;
  margin-bottom: 5px;
}

.Our-Price {
  font-weight: 600;
  font-family: var(--ourpricefont);
  color: var(--ourpricecolor);
  font-size: 24px;
  margin-bottom: -3px;
}

.Item {
  align-items: end;
  margin-bottom: 0px;

}

strong {
  display:inline !important;
}
