.addbutton {
	background-color:#12b3cf;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Arial;
  font-weight: bold;
	font-size:15px;
	padding:6px 14px;
	text-decoration:none;
	align-items: end;
/*
    font-family: 'oswald regular' !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border: solid 2px white;
    padding: 10px 20px 10px 20px;
    line-height: 3;
    font-size: 18px;
    white-space: nowrap;*/
}
.addbutton:hover {
	background-color:#d77450;
}
.addbutton:active {
	position:relative;
	top:1px;
}
